In [ ]:
# karl pearson(r) and spearman rank(R)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data={
    "height":[150,160,165,170,175,180,185,190],
    "weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [ ]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [ ]:
correlation=df["height"].corr(df["weight"])
print(correlation)

0.9941348467724345

In [ ]:
correlation2=df["height"].corr(df["weight"],method="spearman")
print(correlation2)

1.0

Spearman (Manually)

In [ ]:
df["rank 1"]=df["height"].rank()
df["rank 2"]=df["weight"].rank()

In [ ]:
df["D"]=df["rank 1"]-df["rank 2"]

In [ ]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank 1  rank 2    D   D2
0     150      50     1.0     1.0  0.0  0.0
1     160      55     2.0     2.0  0.0  0.0
2     165      60     3.0     3.0  0.0  0.0
3     170      65     4.0     4.0  0.0  0.0
4     175      70     5.0     5.0  0.0  0.0

In [ ]:
sum=df["D2"].sum()
print(sum)

0.0

In [ ]:
n=len(df)
n

8

In [ ]:
correlation_sp=1-((6*sum)//((n)**3-n))

In [ ]:
print(correlation_sp)

1.0

In [ ]:
# calculate mean and standard deviation of height and weight column manually without using built in function

In [ ]:
# mean of weight
sum1=df["weight"].sum()
print(sum1)

540

In [ ]:
n=len(df)
n

8

In [ ]:
mean1=sum1/n
mean1

67.5

In [ ]:
# mean of height
sum2=df["height"].sum()
print(sum2)

1375

In [ ]:
n

8

In [ ]:
mean2=sum2/n
mean2

171.875

In [ ]:
# standard deviation()
# S.D=sqrt(sum(x-mean)**2)//n

In [ ]:
f=(df["height"]-mean2)
f

0   -21.875
1   -11.875
2    -6.875
3    -1.875
4     3.125
5     8.125
6    13.125
7    18.125
Name: height, dtype: float64

In [ ]:
m=f**2
m

0    478.515625
1    141.015625
2     47.265625
3      3.515625
4      9.765625
5     66.015625
6    172.265625
7    328.515625
Name: height, dtype: float64

In [ ]:
import math

In [ ]:
std_h=math.sqrt(m.sum()/n)
std_h

12.484365222148861

In [ ]:
m_weight=df["weight"].sum()/n
m_weight

67.5

In [ ]:
w=(df["weight"]-mean1)**2
w

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: weight, dtype: float64

In [ ]:
std_w=math.sqrt(w.sum()/n)
std_w

11.4564392373896

In [ ]:
# Karl pearson(r)-- Manually

In [ ]:
mean_h=mean2
mean_h

171.875

In [ ]:
mean_w=mean1
mean_w

67.5

In [ ]:
df["x"]=(df["height"]-mean_h)

In [ ]:
df["y"]=(df["weight"]-mean_w)

In [ ]:
df["xy"]=(df["x"]*df["y"])

In [ ]:
x=df["x"]
x

0   -21.875
1   -11.875
2    -6.875
3    -1.875
4     3.125
5     8.125
6    13.125
7    18.125
Name: x, dtype: float64

In [ ]:
y=df["y"]
y

0   -17.5
1   -12.5
2    -7.5
3    -2.5
4     2.5
5     7.5
6    12.5
7    17.5
Name: y, dtype: float64

In [ ]:
xy=df["xy"]
xy

0    382.8125
1    148.4375
2     51.5625
3      4.6875
4      7.8125
5     60.9375
6    164.0625
7    317.1875
Name: xy, dtype: float64

In [ ]:
sum_xy=df["xy"].sum()
sum_xy

1137.5

In [ ]:
df["sq_x"]=df["x"]**2
df["sq_x"]

0    478.515625
1    141.015625
2     47.265625
3      3.515625
4      9.765625
5     66.015625
6    172.265625
7    328.515625
Name: sq_x, dtype: float64

In [ ]:
df["sq_y"]=df["y"]**2
df["sq_y"]

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: sq_y, dtype: float64

In [ ]:
a=df["sq_x"].sum()
a

1246.875

In [ ]:
b=df["sq_y"].sum()
b

1050.0

In [ ]:
# r=sum_xy/(a*b)**1/2
r=sum_xy/(a*b)**1/2
r

0.00043441938178780283